/recipes/*/build/
/recipes/*/generated/
/recipes/*/bindgen/input/
/dist/
/.thirdparty-cache/
/.local-artifacts/
/.thirdparty-tools/
__pycache__/
*.pyc
/odin/**/libs/
/bindgen/*.exe
/bindgen/*.dll
/bindgen/*.dylib
/bindgen/*.so
/bindgen/*.a
/examples/**/*.exe
/examples/**/*.png
/examples/**/ffmpeg-empty-output.mkv
/.vscode/
